@font-face {
  font-family: 'LEMONMILK';
  src: url('./assets/LEMONMILK-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'LEMONMILK-Italic';
  src: url('./assets/LEMONMILK-RegularItalic.otf');
  font-weight: 300;
}

#root {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* padding-top: 4rem; */
  text-align: center;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.read-the-docs {
  color: #888;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}

.label-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  height: 8rem;
  flex-wrap: wrap;
}

.title {
  /* background-color: rgba(79, 186, 145, 0.805); */
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: LEMONMILK-Italic;
}

.nav-title {
  font-family: LEMONMILK;
  font-weight: 300;
}

.vibes-title {
  text-transform: uppercase;
  place-items: center;
  text-align: center;
}

.label {
  display: inline-block;
  align-self: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 4px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  justify-content: space-evenly;
  color: white;
}

.label-icon {
  height: 2rem;
}

/* badge colors */
.green {
  background-color: #c6f8e5;
  color: #03623c;
}

.purple {
  background-color: #e2bef1;
  color: #6e208f;
}

.blue {
  background-color: #96caf7;
  color: #0a4579;
}

.yellow {
  background-color: #fff59b;
  color: rgb(113, 102, 3);
}

.red {
  background-color: #f87c6e;
  color: #7d1105;
}

.orange {
  background-color: #f4a771;
  color: #793403;
}

.pink {
  background-color: #ffa9d7;
  color: #59002f;
}

.lightblue {
  background-color: #a9eeff;
  color: #025468;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.background-color {
  background: linear-gradient(
    180deg,
    hsl(218, 81%, 82%) 0%,
    rgb(184, 176, 243) 100%
  );
  position: absolute;
  height: 145%;
}

.video-settings {
  position: absolute;
  margin: 0;
  z-index: -1;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  /* background-image: url('./assets/user1.jpg');
  background-position: center;
  background-size: cover; */
  margin: 0 2rem 0 2rem;
  padding: 0;
}

.dashboard-container {
  padding-top: 4rem;
  max-width: 1280px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
