@font-face {
  font-family: 'LEMONMILK';
  src: url('./assets/fonts/LEMONMILK-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'LEMONMILK-Italic';
  src: url('./assets/fonts/LEMONMILK-RegularItalic.otf');
  font-weight: 300;
}

#root {
  max-width: 1920px;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden !important;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.read-the-docs {
  color: #888;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}

.label-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  height: 5rem;
  flex-wrap: wrap;
}

.title {
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: LEMONMILK-Italic;
}

.nav-title {
  font-family: LEMONMILK;
  font-weight: 300;
}

.vibes-title {
  text-transform: uppercase;
  place-items: center;
  text-align: center;
}

.label {
  display: inline-block;
  align-self: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 7px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  justify-content: space-evenly;
  color: white;
}

.label-icon {
  height: 2rem;
}

/* badge colors */
.green {
  background-color: #c6f8e5;
  color: #03623c;
}

.purple {
  background-color: #e2bef1;
  color: #6e208f;
}

.blue {
  background-color: #96caf7;
  color: #0a4579;
}

.yellow {
  background-color: #fff59b;
  color: rgb(113, 102, 3);
}

.red {
  background-color: #f87c6e;
  color: #7d1105;
}

.grey {
  background-color: #605651d0;
  color: #ffffff;
}

.orange {
  background-color: #f4a771;
  color: #793403;
}

.pink {
  background-color: #ffa9d7;
  color: #59002f;
}

.lightblue {
  background-color: #a9eeff;
  color: #025468;
}

.hotpink {
  background-color: hotpink;
  color: rgb(91, 1, 46);
}

.distance-color {
  background-color: #99ebd795;
  width: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.background-color {
  background: linear-gradient(-45deg, #251f69, #97c9f3, #ffaac0, #e8f5fe);
  animation: colorChange 15s ease infinite;
  height: 100vh;
  width: 100vw;
  background-size: 400% 400%;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 30rem;
}

@media screen and (min-width: 1394px) and (max-width: 1441px) {
  .background-color {
    position: absolute;
    height: 58rem;
  }
}

@media screen and (max-width: 1393px) {
  .background-color {
    position: absolute;
    height: 142rem;
  }
  .logo {
    width: 20rem;
  }
}

.subtitle {
  display: inline-block;
  align-self: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 7px;
  padding: 15px 15px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.video-settings {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 2rem 0 2rem;
  padding: 0;
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: 'space-evenly';
  align-items: 'center';
  padding: 4rem 6rem;
  border-radius: 25px;
  margin-top: 8rem;
  min-width: 12rem;
  max-width: 46rem;
  color: black;
  background-color: white;
}

.welcome-logo {
  width: 32rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 590px) {
  .welcome-logo {
    width: 22rem;
  }

  .landing-box {
    padding: 1rem 6rem;
    border-radius: 15px;
  }
}

.dashboard-container {
  padding-top: 4rem;
  max-width: 1280px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
