#root {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* padding-top: 4rem; */
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}

.label-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  height: 8rem;
  flex-wrap: wrap;
}

.title {
  background-color: rgba(79, 186, 145, 0.805);
  text-transform: uppercase;
  border-radius: 5px;
}

.label {
  display: inline-block;
  align-self: center;
  flex-wrap: wrap;
  background-color: rgba(79, 186, 145, 0.805);
  text-transform: uppercase;
  border-radius: 5px;
  margin: 4px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.05em;
  justify-content: space-evenly;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  text-transform: uppercase;
}

.background-color {
  background: linear-gradient(
    180deg,
    rgb(251, 198, 213) 0%,
    rgb(184, 176, 243) 100%
  );
  position: absolute;
}

.video-settings {
  position: absolute;
  margin: 0;
  z-index: -1;
  /* overflow: hidden;
  box-sizing: border-box; */
  /* width: 100vw; */
  /* height: 100%; */
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  /* background-image: url('./assets/user1.jpg');
  background-position: center;
  background-size: cover; */
  margin: 0 2rem 0 2rem;
  padding: 0;
}

.dashboard-container {
  padding-top: 4rem;
  max-width: 1280px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
