.lift-marker {
  background-image: url('./assets/lift2.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.restaurant-marker {
  background-image: url('./assets/restaurant.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.map-container {
  height: 300px;
  width: 100%;
  border-radius: 15px;
}


